<div class="d-flex row justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{author.authorId}}: {{author.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Username: {{author.username}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Address: </h6>
      <ul>
        <li>Street: {{author.address.street}}</li>
        <li>Suite: {{author.address.suite}}</li>
        <li>City: {{author.address.city}}</li>
        <li>Zipcode: {{author.address.zipcode}}</li>
      </ul>
      <div class="row">
        <h6 class="card-subtitle mb-2 text-muted">Lista Libri: </h6>
        <a *ngFor="let book of books" (click)="goToBookDetail(book.bookId)" class="badge badge-info">Titolo:
          {{book.title}}</a>
      </div>
      <button type="button" class="btn btn-primary" (click)="deleteAuthor(author.authorId)">Elimina</button>
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>
</div>